div {
display: inline-block;
border: 1px solid black;
width: 200px;
height: 200px;
margin: -2px;
}

.verde{
  background-color: green;
}

.amarela{
  background-color: yellow;
}

.vermelha{
  background-color: red;
}

.azul{
  background-color: blue;
}

#canto{
  border: 2px solid black;
}
.hov:hover{
  background-color: aqua;
}